.outer {
  width: 100%;
  background-color: black;
  height: 100vh;
}

.con-inner {
  border: 3px solid white;
  border-radius: 10px;
  height: 95vh;
}

.game-outer {
  height: 500px;
}

.game-board {
  height: 580px;
}

.status {
  color: whitesmoke;
}

@media only screen and (max-width: 600px) {
  .game-board {
    height: 330px;
  }
  .game-outer {
    height: 300px;
  }
}
